/* Website color scheme:
#25282B
#33383A
#43494B
#EBF1D5
#F4FCDB
*/
body {
		font-size: 1em;
		font-family: 'Helvetica', Sans-seriff;
		color: #EBF1D5; /* light peach */
		background-color: #33383A;
		line-height: 1.5;
		max-width: 80%;
		margin: 0 auto;
		}
h1 {
		font-size: 1.8em;
		font-weight: bold;
		color: #EBF1D5; /* light peach */
		text-align: center;
		background-color: #25282B;
		}
h2 {
		font-size: 1.4em;
		color: #F4FCDB;/* really light peach */
		background-color:#25282B;
		padding-left: 20px;
		}
div {
		margin: 10px 5px;
		}
p {
		font-size: 1em;
		color:#EBF1D5; /* light peach */

		}

a {
	color: lightblue;
}

a:visited {
	color: yellow;
}