/* Website color scheme:
#25282B
#33383A
#43494B
#EBF1D5
#F4FCDB
*/
body {
		font-size: 1em;
		font-weight: normal;
		font-family: 'Oswald', Sans-seriff;
		color: #EBF1D5; /* Matte */
		text-align: left;
		background-color: #25282B;
		line-height: 1.5;
		max-width: 80%;
		margin: 0 auto;
		}
h1 {
		font-size: 1.8em;
		font-weight: bold;
		color: #EBF1D5; /* Matte */
		text-align: center;
		background-color: #33383A;
		}
h2 {
		font-size: 1.4em;
		font-weight: normal;
		color: #EBF1D5;/* Matte */
		text-align: left;
		background-color: #33383A;
		padding-left: 20px;
		}
div {
		margin: 10px 5px;
		text-align: left;
		}
p {
		font-size: 1em;
		font-weight: normal;
		font-family: 'Oswald', Sans-seriff;
		color:#EBF1D5; /* Matte */
		text-align: left;

		}