body {
		font-size: 1em;
		font-weight: normal;
		font-family: 'Oswald', Sans-seriff;
		color: #000000; /* black */
		text-align: left;
		background-color: #c0c0c0;
		line-height: 1.5;
		}
h1 {
		font-size: 1.8em;
		font-weight: bold;
		color: #0000ff; /* blue */
		text-align: center;
		background-color: #e6e6e6;
		}
h2 {
		font-size: 1.4em;
		font-weight: normal;
		color: #808080;/* black */
		text-align: left;
		background-color: #e6e6e6;
		}
div {
		margin: 10px 5px;
		text-align: left;
		}
p {
		font-size: 1em;
		font-weight: normal;
		font-family: 'Oswald', Sans-seriff;
		color: #000000; /* black */
		text-align: left;

		}