/*google font for gucci*/
@import url('https://fonts.googleapis.com/css?family=Yrsa');
/*google font for epstein*/
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
/*boxes*/
.men {
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px; 
  color: black;
}

#gucci {
	font-size: 2em;
	line-height: .9;
	text-align: center;
	background-color: red;
	font-family: "Coming Soon";
	width:30%;
	height: 100%;
	padding-top: .3cm;
	padding-bottom:.5cm;
	color:white;

}
#generalmanager {
	font-size:2em;
	line-height:1;
	text-align: center;
	font-family: "Yrsa";
	color:#d3d3d3;
	background-color:gray;
	padding-top:.15cm;
	padding-bottom:.1cm;
	width:40%;
}