/*google font for gucci*/
@import url('https://fonts.googleapis.com/css?family=Yrsa');
/*google font for epstein*/
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
/*boxes*/
.men {
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
  color: black;
}

#gucci {
	font-size: 2em;
	line-height: 1.25;
	text-align: center;
	background-color:white;
}
#generalmanager {
	font-size: 2em;
	line-height: 1;
	text-align: center;
}

